services:
    pgsql:
        image: "postgres:15"
        container_name: practice_prisma-db
        ports:
            - "${FORWARD_DB_PORT:-5432}:5432"
        environment:
            PGPASSWORD: "${DB_PASSWORD:-secret}"
            POSTGRES_DB: "${DB_DATABASE}"
            POSTGRES_USER: "${DB_USERNAME}"
            POSTGRES_PASSWORD: "${DB_PASSWORD:-secret}"
        volumes:
            - practice_prisma-pgsql-data:/var/lib/postgresql/data
        networks:
            - practice_prisma
        healthcheck:
            test:
                - CMD
                - pg_isready
                - "-q"
                - "-d"
                - "${DB_DATABASE}"
                - "-U"
                - "${DB_USERNAME}"
            retries: 3
            timeout: 5s

    practice_prisma:
        image: "node:20-alpine"
        container_name: practice_prisma-practice-prisma
        working_dir: /app
        volumes:
            - ./:/app
        environment:
            NODE_ENV: development
            PORT: 3000
            DATABASE_URL: "postgresql://${DB_USERNAME}:${DB_PASSWORD}@pgsql:5432/${DB_DATABASE}?schema=public"
        command: >-
            sh -c "npm install && npm run prisma:generate && npm run prisma:migrate && npm run prisma:seed && npm run dev"
        depends_on:
            pgsql:
                condition: service_healthy
        ports:
            - "3000:3000"
        networks:
            - practice_prisma

    # adminer:
    #   image: adminer:latest
    #   container_name: practice_prisma-adminer
    #   depends_on:
    #     pgsql:
    #       condition: service_healthy
    #   ports:
    #     - "8080:8080"
    #   environment:
    #     ADMINER_DEFAULT_SERVER: pgsql
    #   networks:
    #     - practice_prisma
    #   restart: unless-stopped

networks:
    practice_prisma:
        driver: bridge

volumes:
    practice_prisma-pgsql-data:
